// colors

$c-primary: #24A548;
$c-grey: #98A2B1;
$c-black: #151A1E;

$c-error: #F2453D;
$c-success: #4CAF50;

// fonts

$title-font: 'RobotoFlex', sans-serif;
$text-font: 'Manrope', sans-serif;
$button-font: 'Manrope', sans-serif;

// utils

$assetsPath: "/assets";
// $assetsPath: '/themes/itome/assets';



$defaultPixel: 16;

@function em($pixel, $fontSize : $defaultPixel) {
    @return calc($pixel / $fontSize) + em;
}