extends _base/_layout_empty
block settings 

	- title = '404';

block content
	section.not_found
		.not_found__container.container
			
			.section_block.section_block--center
				h1.section_block__title.not_found__title(data-scroll="", data-scroll-fadeup="") #[strong 404]
				p.section_block__text.not_found__text(data-scroll="", data-scroll-fadeup="") Страница не найдена или ее больше #[br.desktop] не существует
			
				a.not_found__button.btn.btn--filled(data-scroll="", data-scroll-fadeup="", href='/')
					span.btn__text На главную
