extends _base/_layout
block settings 

	- title = 'ДСМ Дом — Мы строим ваши желания';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")
		include _partials/_pages/_index_page/home
		include _partials/_pages/_index_page/types
		include _partials/_pages/_index_page/home_double
		include _partials/_pages/_index_page/catalog
		include _partials/_pages/_index_page/services
		include _partials/_pages/_index_page/technologies
		include _partials/_pages/_index_page/advantages
		include _partials/_pages/_index_page/about
		include _partials/_pages/_index_page/partners
	