extends _base/_layout
block settings 

	- title = 'Типовой проект Лесогорский — ДСМ Дом';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")
		include _partials/_pages/_typical_page/home
		include _partials/_pages/_typical_page/general_info
		include _partials/_pages/_typical_page/materials
		include _partials/_pages/_typical_page/tariffs
		include _partials/_pages/_typical_page/additional
		include _partials/_pages/_typical_page/ready