section#about.section.about
	.about__container.container 

		.section_block
			.section_block__caption О компании
			h2.section_block__title Помогаем воплощать #[br] #[strong мечты #[br.mobile] в реальность]

		.about__content(data-scroll="", data-scroll-call="initCounter", data-counter-start="")

			.about_card
				.about_card__top 
					.about_card__number(data-counter="", data-start="0", data-end="100", data-difference="12", data-time-delay="3500", data-before-text=">") 0 
					span.about_card__number.about_card__number--small домов
				p.about_card__text Построили для собственных клиентов под любой запрос за все время нашей работы
			.about_card
				.about_card__top 
					.about_card__number(data-counter="", data-start="0", data-end="240", data-difference="30", data-time-delay="3500", data-add-text="+") 0 
					span.about_card__number.about_card__number--small семей
				p.about_card__text Обрели свой собственный, современный #[br.desktop] и экологичный дом для счастливой жизни
			.about_card
				.about_card__top 
					.about_card__number(data-counter="", data-start="0", data-end="8", data-difference="1", data-time-delay="3500") 0 
					span.about_card__number.about_card__number--small лет
				p.about_card__text Наш опыт работы на рынке строительства современных частных домов