section.section.types
	.types__container.container 

		.section_block
			.section_block__caption(data-scroll="", data-scroll-fadeup="") Решения
			h2.section_block__title(data-scroll="", data-scroll-fadeup="") Строим дома #[br] #[strong для каждого]

		.types__content

			.types_card(data-scroll="", data-scroll-fadeup="")
				.types_card__info
					h3.types_card__title(data-scroll="", data-scroll-fadeup="") Типовое решение
					p.types_card__text(data-scroll="", data-scroll-fadeup="") Под готовым решением понимается уже полностью сформированный проект, выполненный согласно тематике #[br.desktop] и в наиболее подходящей стилистике
					
					p.types_card__text.types_card__text--bold(data-scroll="", data-scroll-fadeup="") Площадь 
					.types_card__buttons(data-scroll="", data-scroll-fadeup="") 
						.types_card__radio_btn 
							input.radio(type="radio", name="typical_square", value ="60")
							.content 
								span.number 60м²
						.types_card__radio_btn 
							input.radio(type="radio", name="typical_square", value ="90")
							.content 
								span.number 90м²
						.types_card__radio_btn 
							input.radio(type="radio", name="typical_square", value ="120")
							.content 
								span.number 120м²
						.types_card__radio_btn 
							input.radio(type="radio", name="typical_square", value ="160")
							.content 
								span.number 160м²

					a.types_card__btn.btn.btn--filled(data-scroll="", data-scroll-fadeup="", href="#catalog", data-anchor="catalog")
						span.btn__text Посмотреть проекты

				.types_card__img
					+img(`${assetsPath}/img/types_pic_1.png`, '', 'image')


			.types_card(data-scroll="", data-scroll-fadeup="")
				.types_card__info
					h3.types_card__title(data-scroll="", data-scroll-fadeup="") Индивидуальное решение
					p.types_card__text(data-scroll="", data-scroll-fadeup="") Для желающих быть ни на кого не похожими. Полностью уникальная архитектура, любые конструктивные и дизайнерские решения. Такого дома не будет больше ни у кого
					
					p.types_card__text.types_card__text--bold(data-scroll="", data-scroll-fadeup="") Площадь 
					.types_card__buttons(data-scroll="", data-scroll-fadeup="")
						.types_card__radio_btn 
							input.radio(type="radio", name="individ_square", value ="60")
							.content 
								span.number 60м²
						.types_card__radio_btn 
							input.radio(type="radio", name="individ_square", value ="90")
							.content 
								span.number 90м²
						.types_card__radio_btn 
							input.radio(type="radio", name="individ_square", value ="120")
							.content 
								span.number 120м²
						.types_card__radio_btn 
							input.radio(type="radio", name="individ_square", value ="160")
							.content 
								span.number 160м²

					a.types_card__btn.btn.btn--filled(data-scroll="", data-scroll-fadeup="", href="#catalog", data-anchor="catalog")
						span.btn__text Посмотреть проекты

				.types_card__img
					+img(`${assetsPath}/img/types_pic_2.png`, '', 'image')