.about {
	background: #F9F9FB;

    &__content {
        margin-top: em(118);

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: em(30);

        @media(max-width: 1480px) {
            margin-top: em(38);

            grid-template-columns: 100%;
        }
    }	
}