$bg-filled: $c-primary;
$borderR: 5px;

$paddingSide: 1.25em;
$height: 3.5em;

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .75rem $paddingSide;
	border-radius: $borderR;
	font-family: $button-font;

	font-weight: 500;
	font-size: 1em;
	line-height: em(28);

	transition: all .25s;

	@media(max-width: 500px) {
		font-size: em(14);
		line-height: 1.5rem;
		border-radius: 4px;
	}

	&.disabled {
		opacity: .4;
	}

	// & + & {
	// 	margin-left: 1em;
	// }


	&--filled {
		color: white;

		background: $bg-filled;

		&:hover {
			background: #1C883A;           
		}
	}

	&--white {
		color: $c-primary;

		background: #fff;

		&:hover {
			background: #F3F5F6;           
		}
	}

	&--outlined {
		border: 1px solid #DBE0E9;
		color: $c-primary;
		background: transparent;

		&:hover {
			border: 1px solid #1C883A;
		}
	}
}