.home_tab {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);

    display: flex;
    align-items: flex-start;

    padding: em(14);

    @media(max-width: 500px) {
        display: none;
    }

    &--1 {
        bottom: 20%;
        left: 8%;

        @media(max-width: 1480px) {
            bottom: 15%;
            left: 2%;
        }
    }

    &--2 {
        bottom: 35%;
        right: 1%;

        @media(max-width: 1480px) {
            bottom: 25%;
            
        }
    }

    &__icon {
        width: em(26);
        height: em(26);

        margin-right: .75rem;
    }

    &__text {
        font-weight: 500;
        font-size: em(15);
        line-height: em(22,15);
        color: #fff;

        @media(max-width: 500px) {
            font-size: em(14);
            line-height: em(22,14);
        }
    }
}