.home_project {
	
    &__table {
        display: grid;
        grid-template-columns: auto auto auto auto em(200);
        gap: em(56);

        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px);

        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.2);

        margin-top: em(60);

        width: fit-content;
        padding: em(24) em(50);

        @media(max-width: 1480px) {
            gap: em(32);
            width: 100%;

            padding: em(24) em(32);
        }

        @media(max-width: 500px) {
            grid-template-columns: 1fr 1fr !important;
            gap: em(48) 0;

            margin-top: em(30);
            padding: em(32) em(20) em(40);
        }
       
    }

    &__caption {
        font-weight: 500;
        font-size: em(14);
        line-height: 1em;
        color: #CACACA;

        margin-bottom: 1em;

        @media(max-width: 500px) {
            margin-bottom: 1rem;
            font-size: 13px;
        }
    }

    &__text {
        font-family: $title-font;
        font-size: em(18);
        line-height: 1em;
        font-weight: 466;
        font-variation-settings: 'wght' 466, 'wdth' 132, 'GRAD' -54, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        color: #fff;

        @media(max-width: 500px) {
            font-size: 17px;
        }
    }

    &__btn {
        border-radius: 56px;

        @media(max-width: 500px) {
            grid-column-start: 1;
            grid-column-end: -1;
        }
    }
}