.modal_gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: em(1056);
	max-height: em(748);

	// background: #0A0A0A;

	position: absolute;
    top: 50%;
    left: 50%;
	margin: 0 auto;

	transform: translate3d(-50%,-50%,0);

	opacity: 0;

	transition: opacity .2s;

	pointer-events: none;

	@media(max-width: 500px) {
		width: 90vw;
		height: 40vh;
		// margin-top: 50%;
	}

	&.is-active {
		opacity: 1;
		pointer-events: none;
	}

	&__close {
		top: -24px;
		right: -24px;
		z-index: 100;

        width: 32;
        height: 32;

		background: transparent;
        border-radius: 0;
		border: none;

        transition: background .2s;

		@media(max-width: 500px) {
			width: 28px;
			height: 28px;
			background: #FFFFFF66;

			top: em(-40);
			right: 0;

			border-radius: 50%;
		}

        .is-active & {
            pointer-events: all;
        }

		.icon {
			width: 100%;
			height: 100%;
			fill: #fff;

			@media(max-width: 500px) {
				width: 20px;
				height: 20px;
			}
		}
	}

	&__full {
		right: 124px;

        transition: background .2s;

		@media(max-width: 500px) {
			display: none;
		}

        .is-active & {
            pointer-events: all;
        }

		.icon {
			width: 14px;
			height: 14px;
		}
	}
}
