.modal_form {
	position: absolute;

	width: em(1180);
	height: fit-content;
	top: 50%;
	left: 50%;
	
	overflow: hidden;
	background: white;

	border-radius: 5px;

	display: grid;
	grid-template-columns: em(560) auto;

	align-items: initial;
	justify-content: initial;
	
	transform: translate3d(-50%, calc(-50% + 2em), 0);
	opacity: 0;

	transition: transform .35s, opacity .35s;

	@media(max-width: 500px) {
		width: calc(100% - 2.5rem);
		height: 90vh;

		display: flex;
		flex-direction: column;

		overflow: hidden scroll;
		scrollbar-width: none;
		-webkit-scrollbar-width: none;

		&::-webkit-scrollbar {
			height: 0px;
			width: 0px;
			background: transparent;
		}
	}

	&.modal_success {

		@media(max-width: 500px) {
			height: fit-content;
		}
	}

	&.is-active {
		transform:  translate3d(-50%, -50%, 0);
		opacity: 1;
		pointer-events: all;

		.modal_form__inputs.is-active {
			pointer-events: all;
		}
	}	

	&__close {
		top: em(20);
		right: em(20);
		z-index: 100;

        width: 20px;
        height: 20px;

		background: #fff;

        transition: background .2s;

		@media(max-width: 500px) {
			width: 28px;
			height: 28px;

			background: #151A1E66;
		}

        .is-active & {
            pointer-events: all;
        }

		.icon {
			width: 100%;
			height: 100%;
			fill: $c-grey;

			@media(max-width: 500px) {
				fill: #fff;
				width: 18px;
				height: 18px;
			}
		}
	}

	&__form {
		padding: em(40) em(50) em(44);

		display: flex;
		flex-direction: column;

		width: 100%;

		@media(max-width: 500px) {
			padding: em(30) em(20);
		}
		
		&.on-request {
			pointer-events: none;
			opacity: .6;
		}

		&--success {
			align-items: center;
			justify-content: center;
			text-align: center;

			padding: em(185) em(50);

			@media(max-width: 500px) {
				padding: em(70) em(20);
			}
		}
	}

	&__icon {
		width: 68px;
		height: 68px;
		margin-top: em(16);

		@media(max-width: 500px) {
			width: 54px;
			height: 54px;
		}
	}

	&__title {
		font-family: $title-font;
		font-size: em(42);
		font-weight: 466;
		line-height: em(52,42);
		color: $c-black;

		font-variation-settings: 'wght' 466, 'wdth' 132, 'GRAD' -54, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;

		@media(max-width: 500px) {
			font-size: em(28);
			line-height: em(38,28);
		}
	}

	&__text {
		font-size: em(16);
		line-height: em(32,16);
		
		@media(max-width: 500px) {
			font-size: em(14);
			line-height: 1.5rem;

			margin-top: .5rem;
		}
	}

	&__inputs {
		margin-top: em(30);
		width: 100%;

		display: grid;
		grid-template-columns: 100%;
		gap: em(20);

		@media(max-width: 500px) {
			margin-top: em(32);

			grid-template-columns: 100%;
			gap: em(16);
		}
	}

	&__btn {
		width: 100%;
		margin-top: 1.25rem;

		@media(max-width: 500px) {
			margin-top: 1rem;
		}
	}

	&__privacy {
		margin: 1.25rem auto 0;
		text-align: center;

		font-size: em(14);
		line-height: 2em;
		font-weight: 400;
		color: $c-grey;

		@media(max-width: 500px) {
			margin-top: 2em;
			width: 100%;
		}

		.link {
			text-decoration: underline;
			transition: color .2s;

			&:hover {
				color: $c-primary;
			}
		}
	}

	&__img {
		width: 100%;
		height: 100%;

		@media(max-width: 500px) {
			height: auto;

			.modal_success & {
				display: none;
			}
		}


		.image {
			object-fit: cover;
		}
	}
}