.partners {
	
    &__caption {
        font-family: $title-font;
        font-size: em(18);
        line-height: 2rem;
        font-weight: 466;
        font-variation-settings: 'wght' 466, 'wdth' 132, 'GRAD' -54, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        color: #B2BDCE;

        @media(max-width: 500px) {
            font-size: em(16);
        }
    }

    &__table {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: em(28);

        margin-top: 2em;

        @media(max-width: 1480px) {
            grid-template-columns: repeat(2, 1fr);
            gap: em(20);

            margin-top: 1em;
        }
    }

    &__table_img {
        background: #F9F9FB;
        border-radius: 5px;

        padding: 8px;

        height: em(92);

        @media(max-width: 500px) {
            height: em(58);
            padding: 0;
        }

        .image {
            height: em(80);

            @media(max-width: 500px) {
                height: 100%;
            }
        }
    }

    &__bottom {
        margin-top: em(140);

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: em(30);

        height: em(720);

        @media(max-width: 1480px) {
            margin-top: em(60);

            grid-template-columns: 100%;
            height: fit-content;
        }
    }
}   