.section_block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	position: relative;

	&--center {
		align-items: center;
		text-align: center;
		justify-content: center;
		width: 100%;

		position: relative;
		z-index: 2;
	}

	&__caption {
		font-size: em(18);
		color: #B2BDCE;

		border: 1px solid #B2BDCE;
		border-radius: 46px;

		padding: 1em 1.75rem;

		margin-bottom: 3rem;

		@media(max-width: 500px) {
			font-size: em(14);
			margin-bottom: 1.125rem;

			border-radius: 30px;
			padding: .75rem 1.25rem;
		}
	}

	&__title {
		font-family: $title-font;
		font-size: em(98);
		font-weight: 500;
		line-height: em(100,98);
		color: $c-black;

		font-variation-settings: 'wght' 500, 'wdth' 151, 'GRAD' -54, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;

		@media(max-width: 500px) {
			font-size: em(40);
			line-height: em(42,40);
		}

		strong {
			background: linear-gradient(94.57deg, #2B9C5A -7.46%, #D5F553 86.65%);
			background-clip: text;
			text-fill-color: transparent;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.home & {
			font-size: em(110);
			line-height: em(92,110);
			color: white;
			text-align: center;
			letter-spacing: -0.01em;

			@media(max-width: 500px) {
				font-size: em(40);
				line-height: em(42,40);
			}

			&--small {
				font-size: em(18);
				line-height: em(26,18);
				margin-top: em(46,18);

				@media(max-width: 500px) {
					font-size: em(16);
					line-height: em(26,16);

					margin-top: em(10);
				}
			}
		}
	}

	&__text {
		font-family: $text-font;
		font-size: em(18);
		font-weight: 400;
		line-height: em(32,18);
		color: $c-grey;

		margin-top: 1em;

		@media(max-width: 500px) {
			font-size: em(16);
			line-height: em(28,16);
		}

		.strong {
			font-weight: 600;
			color: $c-primary;
		}

		&--white {
			color: #fff;
		}

		&--black {
			color: $c-black;

			margin-top: 1.875rem;
		}

		& + & {
			margin-top: em(10);
		}
	}

	&__btn_round {
		position: absolute;
		right: 0;
		bottom: 1rem;


		width: 280px;
		height: 280px;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;

		background: $c-primary;

		font-family: $title-font;
		font-size: em(20);
		color: #fff;
		font-weight: 466;
		font-variation-settings: 'wght' 466, 'wdth' 151, 'GRAD' -54, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;

		transition: background .2s;

		&:hover {
			background: #1C883A;
		}

		@media(max-width: 500px) {
			display: none;
		}
	}
}